<div class="p-2 bg-gray-700 flex flex-col md:flex-row gap-4">
  <div class="w-full md:w-1/3">
    <label for="departament" class="text-white block pb-2 font-bold">
      Departamento
    </label>
    <select id="departament" class="w-full px-2 py-2 bg-gray-800 text-white rounded">
      <option value="all">Todos</option>
      <option value="active">Lima</option>
    </select>
  </div>
  <div class="w-full md:w-1/3">
    <label for="province" class="text-white block pb-2 font-bold">
      Provincia
    </label>
    <select id="province" class="w-full px-2 py-2 bg-gray-800 text-white rounded">
      <option value="all">Todos</option>
      <option value="active">Lima</option>
    </select>
  </div>
  <div class="w-full md:w-1/3">
    <label for="district" class="text-white block pb-2 font-bold">
      Distrito
    </label>
    <select id="district" class="w-full px-2 py-2 bg-gray-800 text-white rounded">
      <option value="all">Todos</option>
      <option value="active">Lima</option>
    </select>
  </div>
</div>
